/* GLOBAL STYLES */
#main-container {
    height: 100vh;
    width: 100vw;
    background-color: whitesmoke;
}
.side-padding {
    flex: 1;
    height: 100%;
    max-width: 128px;
}
@media screen and (max-width: 600px) {
    .side-padding {
        display: none;
    }
}