/* COLORS */
:root {
    --primary: #2c1553;
    --secondary: #ffdf3d;
}

/* GLOBAL STYLES */
#main-container {
    height: 100vh;
    background-color: whitesmoke;
}

.column {
    display: flex;
    flex-direction: column;
}

.column-item {
    background-color: white;
    overflow: hidden;
}

#columns-container {
    flex: 1;
    display: flex;
    background-color: whitesmoke;
}

#widget-header {
    background-color: var(--primary);
    font-weight: 600;
    padding: 16px;
    color: white;
}

.widget-header-link {
    cursor: pointer;
}

.widget-item {
    padding: 16px;
    display: flex;
    align-items: center;
}

.widget-item-highlight {
    display: flex;
    padding: 16px;
    background-color: var(--primary);
    color: white;
}

.side-padding {
    flex: 1;
    height: 100%;
    max-width: 128px;
}

.accept-button {
    background-color: green;
    color: white;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
}

.reject-button {
    background-color: orangered;
    color: white;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
}

.primary-button {
    background-color: var(--primary);
    color: white;
    padding: 8px;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
}

.secondary-button {
    background-color: var(--secondary);
    color: var(--primary);
    padding: 8px;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
}

#account-icon {
    width: 36px;
    height: 36px;
    border-radius: 18px;
}

#account-icon:hover {
    cursor: pointer;
    opacity: 80%;
}

.dialog {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0.0, 0.0, 0.0, 0.5);
    width: 100vw;
    align-items: center;
    justify-content: center;
    display: flex;
}

@media screen and (min-width: 601px) {
    .column {
        flex: 1;
    }

    #columns-container {
        flex-direction: row;
        min-width: 600px;
        padding: 16px;
    }

    .column-item {
        border-radius: 8px;
    }
}

@media screen and (max-width: 600px) {
    .side-padding {
        display: none;
    }

    #columns-container {
        flex-direction: column;
        min-width: 280px;
        padding: 0px;
    }

    .desktop-divider {
        display: none;
    }
}